<div style="height: 100%">
  <div *ngIf="!uiReady" style="width: 100vw; height: 100%; display: flex; justify-content: center; align-items: center; overflow: hidden">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
  </div>

  <div *ngIf="uiReady" style="width: 100%; height: 100%;">
    <as-split direction="horizontal">
      <as-split-area [size]="40">
        <div style="display: flex; flex-direction: column; height: 100%">
          <button pButton type="button" label="Diagnose" (click)="diagnose()" [style]="{'position': 'sticky', 'top': 0, 'z-index': 99999}"></button>
          <p-tree *ngIf="uiReady" [value]="regions" selectionMode="checkbox" [(selection)]="selectedNodes"></p-tree>
        </div>
      </as-split-area>
      <as-split-area [size]="60">
        <div *ngIf="!tableReady && diagClick" style="display: flex; justify-content: center; align-items: center; height: 100%">
          <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
        </div>
        <div>
          <p-table styleClass="sticky-table" *ngIf="tableReady" [columns]="columns" [value]="diagResult" sortMode="multiple" [scrollable]="true" scrollHeight="100%" scrollWidth="100%">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th pFrozenColumn pSortableColumn="name">Muscle
                  <p-sortIcon field="name"></p-sortIcon></th>
                <th pFrozenColumn pSortableColumn="score">Score
                  <p-sortIcon field="score"></p-sortIcon></th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.name">
                  {{col.regionNameAbbreviation}}/{{col.name}}
                  <p-sortIcon [field]="col.name"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td pFrozenColumn><span [pTooltip]="rowData.symptoms" [escape]=false>{{rowData.name}}</span></td>
                <td pFrozenColumn>{{rowData.score}}</td>
                <td *ngFor="let col of columns">
                  <span *ngIf="rowData[col.name] == 'jest'"><i class="pi pi-check" style="color: green"></i></span>
                  <span *ngIf="rowData[col.name] != 'jest'"><i class="pi pi-minus" style="color: red"></i></span>
                  <!--        {{rowData[col.name]}}-->
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </as-split-area>
    </as-split>
  </div>
</div>




